<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head">
</head>

<body class="goto-here">
    <div th:replace="fragments :: header">

    </div>

    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Trang
                                Chủ</a></span> <span class="mr-2"><a href="#">Sản Phẩm</a></span>
                        <span th:text="${model.name}"></span>
                    </p>
                    <h1 th:text="${model.name}" class="mb-0 bread"></h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <a href="#" class="image-popup"><img th:src="@{/images/__${model.image}__}" class="img-fluid"
                            alt="Colorlib Template"></a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3 th:text="${model.name}"></h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100<span
                                    style="color: #bbb;">Rating</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;" th:text="${model.sold} + ' Sold'"> <span
                                    style="color: #bbb;">
                                </span></a>
                        </p>
                    </div>
                    <p class="price" th:text="${model.price} +  'VND' + '/' + ${model.unit}"><span></span></p>
                    <p>
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth. Text should
                        turn around and return to its own, safe country. But nothing the copy said could convince her
                        and so it didn’t take long until.
                    </p>
                    <form>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group d-flex">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="input-group col-md-6 d-flex mb-3">
                                <span class="input-group-btn mr-2">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus"
                                        data-field="">
                                        <i class="ion-ios-remove"></i>
                                    </button>
                                </span>
                                <input type="number" id="quantity" name="quantity" class="form-control input-number"
                                    value="1" min="1" max="${model.amount}">
                                <span class="input-group-btn ml-2">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus"
                                        data-field="">
                                        <i class="ion-ios-add"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <p style="color: #000;"
                                    th:text="${model.amount} + ' ' + ${model.unit} + ' ' + 'available'"></p>
                            </div>
                        </div>
                        <p><a id="btnCart" class="btn btn-primary text-black py-3 px-5">Thêm vào giỏ hàng</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments :: footer">

    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ajaxShop.js"></script>

<script>
    $("#btnCart").click(function (e) {
        e.preventDefault()

        if (Number($("#quantity").val()) > Number("[[${model.amount}]]")) {
            Swal.fire({
                title: "Lỗi",
                icon: "error",
                text: "Không được mua số lượng vượt quá số lượng còn lại"
            })
            return;
        }

        const quantity = Number($("#quantity").val())
        const vegetableId = Number("[[${model.vegetableId}]]")
        const image = "[[${model.image}]]"
        const price = Number("[[${model.price}]]")
        const subTotal = quantity * price
        const name = "[[${model.name}]]"

        const data = {
            quantity,
            vegetableId,
            image,
            price,
            subTotal,
            name
        }

        console.log(data)

        $.ajax({
            type: "POST",
            url: '/san-pham/them-gio-hang',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                if (response.success === true) {
                    Swal.fire({
                        title: "Thành Công !",
                        text: response.message,
                        icon: 'success',
                        timer: 1500
                    })
                } else {
                    Swal.fire({
                        title: "Thất Bại",
                        text: response.message,
                        icon: "error",
                        timer: 2000
                    })
                }
            }
        })


        // Đây là sử dụng localStorage khi thêm sản phẩm

        // let cartData = JSON.parse(localStorage.getItem("detailCart"))
        // if (cartData === null) {
        //     localStorage.setItem("detailCart", JSON.stringify([]))
        //     cartData = []
        // }

        // if (Number($("#quantity").val()) > Number("[[${model.amount}]]")) {
        //     Swal.fire({
        //         title: "Lỗi",
        //         icon: "error",
        //         text: "Không được mua số lượng vượt quá số lượng còn lại"
        //     })
        //     return;
        // }

        // let isInCart = cartData?.find((item) => item.id === Number("[[${model.vegetableId}]]"))
        // if (isInCart === undefined) {
        //     const quantity = Number($("#quantity").val())
        //     const id = Number("[[${model.vegetableId}]]")
        //     const image = "[[${model.image}]]"
        //     const price = Number("[[${model.price}]]")
        //     const subTotal = quantity * price
        //     const name = "[[${model.name}]]"

        //     const data = {
        //         quantity,
        //         id,
        //         image,
        //         price,
        //         subTotal,
        //         name
        //     }

        //     cartData?.push(data)
        //     localStorage.setItem("detailCart", JSON.stringify(cartData))
        //     Swal.fire({
        //         title: "Thành Công !",
        //         text: "Thêm vào giỏ hàng thành công !",
        //         icon: 'success',
        //         timer: 1500
        //     })
        // }
        // else {
        //     const newCart = cartData?.filter((item) => {
        //         if (item.id === Number("[[${model.vegetableId}]]")) {
        //             item.quantity += Number($("#quantity").val())
        //             item.subTotal = item.price * item.quantity
        //         }
        //         return item
        //     })
        //     localStorage.setItem("detailCart", JSON.stringify(newCart))
        //     Swal.fire({
        //         title: "Thành Công !",
        //         icon: 'success',
        //         text: "Thêm vào giỏ hàng thành công !",
        //         timer: 1500
        //     })
        // }

    })
</script>


<script>

    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>

</html>